{% extends 'base.html' %}
{% block content %}
<div class="con">
      <form method="POST">
        {%csrf_token%}
        <label>Select Teacher</label>
        <select name="teacher" id="">
          <option selected disabled></option>
          {%for o in ob%}
          <option value="{{o.email}}">{{o.name}}</option>
          {%endfor%}
        </select>
        <label for="">Select Role</label>
        <select name="role" id="">
          <option selected disabled></option>
          <option value="1">Moderator</option>
          <option value="2">Translator</option>
          <option value="3">Stencil Cutter</option>
        </select>
        <button type="submit">Add</button>
      </form>
    </div>
{% endblock content %}
