{% extends 'base.html' %}
{% block extra_css %}
<style>
h1 {
        background: black;
        padding: 10px;
        width: 250px;
        text-transform: uppercase;
        font-size: 20px;
        font-weight: 500;
        text-align: center;
        color: white;
      }
      button {
        padding: 10px;
        border: 2px solid black;
        outline: none;
        width: 200px;
        font-weight: 700;
        font-size: 16px;
      }
      input {
        padding: 10px;
        width: 200px;
      }
      form {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border: 2px solid black;
        padding: 20px;
        background: whitesmoke;
      }
      form > * {
        margin-bottom: 20px;
      }
</style>
{% endblock extra_css %}
{% block content %}

    <div class="con">
      <h1>Select an Option</h1>
      <button><a href="{% url 'createCom' %}">Create Committee</a></button>
      <form method="POST">
        <h3>View Committee</h3>
        {%csrf_token%}
        <input class="form-control" type="number" name="session" min="1900" max="2100" placeholder="Enter Session" />
        <button class="btn btn-primary" type="submit" name="sess">Submit</button>
      </form>
      <form method="POST">
        <h3>View Semester</h3>
        {%csrf_token%}
        <input class="form-control" type="number" name="session" min="1900" max="2100" placeholder="Enter Session" />
        <button class="btn btn-primary" type="submit" name="sem">Submit</button>
      </form>
    </div>
{% endblock content %}
