{% extends 'base.html' %}
{% block extra_css %}
<style>
form {
        background: whitesmoke;
        padding: 40px;
        box-shadow: 0 0 10px black;
        margin-top: 100px;
        display: flex;
        width: 500px;
        justify-content: center;
        align-items: center;
        flex-direction: column;
      }
      input {
        padding: 10px;
        width: 400px;
      }
      select {
        padding: 10px;
        width: 400px;
      }
      form > * {
        margin-bottom: 20px;
      }
      form > label {
        margin-left: 0;
      }
      button {
        width: 200px;
        border: 2px solid black;
        padding: 10px;
        background: black;
        color: white;
        font-size: 18px;
      }
</style>
{% endblock extra_css %}
{% block content %}
{% for msg in messages%} {% if 'chairman' in msg.tags%}
    <div id="popdiv"></div>
    <div id="alert1">
      <strong> {{msg}} </strong>
      <button class="button" onclick="history.back()">Close</button>
    </div>
    {%elif 'success' in msg.tags%}
    <div id="popdiv"></div>
    <div id="alert2">
      <strong>{{msg}}</strong>
      <button class="button" onclick="window.location.href='/'">Close</button>
    </div>
    {% elif 'sem' in msg.tags%}
    <div id="popdiv"></div>
    <div id="alert1">
      <strong> {{msg}} </strong>
      <button class="button" onclick="history.back()">Close</button>
    </div>
    {% elif 'twice' in msg.tags%}
    <div id="popdiv"></div>
    <div id="alert1">
      <strong> {{msg}} </strong>
      <button class="button" onclick="history.back()">Close</button>
    </div>
    {% elif 'access' in msg.tags%}
    <div id="popdiv"></div>
    <div id="alert1">
      <strong> {{msg}} </strong>
      <button class="button" onclick="history.back()">Close</button>
    </div>
    {%endif%} {%endfor%}

    <div class="con">
      <form method="POST">
        <h1>Create Committee</h1>
        {%csrf_token%}
        <label for="">Select Session</label>
        <input type="number" name="session" id="" />
        <label for="">Select Semester</label>
        <select name="year">
          <option selected disabled></option>
          <option value="10">5-2</option>
          <option value="9">5-1</option>
          <option value="8">4-2</option>
          <option value="7">4-1</option>
          <option value="6">3-2</option>
          <option value="5">3-1</option>
          <option value="4">2-2</option>
          <option value="3">2-1</option>
          <option value="2">1-2</option>
          <option value="1">1-1</option>
        </select>
        <label>Select Chairman</label>
        <select name="chairman">
          <option selected disabled></option>
          {%for o in ob%}
          <option value="{{o.email}}">{{o.name}}</option>
          {%endfor%}
        </select>
        <label>Select Tabular1</label>
        <select name="tabular1">
          <option selected disabled></option>
          {%for o in ob%}
          <option value="{{o.email}}">{{o.name}}</option>
          {%endfor%}
        </select>
        <label>Select Tabular2</label>
        <select name="tabular2">
          <option selected disabled></option>
          {%for o in ob%}
          <option value="{{o.email}}">{{o.name}}</option>
          {%endfor%}
        </select>
        <label for="">Select External</label>
        <select name="external" id="">
          <option selected disabled></option>
          {%for o in oc%}
          <option value="{{o.email}}">{{o.name}}</option>
          {%endfor%}
        </select>
        <button type="submit">Create</button>
      </form>
    </div>
{% endblock content %}
