{% extends 'base.html' %}
{% block extra_css %}
<style>
body {
  width: 100%;
  height: 105vh;
  background-image: url("../../static/kk.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.con {
  margin-top: 20%;
  margin-left: 20%;
  width: 1000px;
  background: salmon;
  border-radius: 10px;
  border: 5px solid seagreen;
}
</style>
{% endblock extra_css %}
{% block content %}
<div class="con">
      <h1>Welcome to Exam Bill Management System</h1>
    </div>
{% endblock content %}
