{% extends 'base.html' %}
{% block extra_css %}
<style>
.el {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        padding: 20px;
      }
      h2 {
        color: white;
        background: black;
        padding: 10px;
        letter-spacing: 2px;
        width: 200px;
        text-align: center;
      }
      .el input {
        margin-top: 10px;
        width: 300px;
        text-align: center;
        font-weight: 600;
        font-size: 18px;
        margin-bottom: 20px;
      }
      .el button {
        width: 150px;
      }
      
      form {
        background: whitesmoke;
        padding: 40px;
        box-shadow: 0 0 10px black;
        margin-top: 100px;
        display: flex;
        width: 500px;
        justify-content: center;
        align-items: center;
        flex-direction: column;
      }
      input {
        padding: 10px;
        width: 400px;
      }
      select {
        padding: 10px;
        width: 400px;
      }
      form > * {
        margin-bottom: 20px;
      }
      form > label {
        margin-left: 0;
      }
      button {
        width: 200px;
        border: 2px solid black;
        padding: 10px;
        background: black;
        color: white;
        font-size: 18px;
      }
</style>
{% endblock extra_css %}
{% block content %}

    <div class="con">
      <form method="POST">
        <h1>Committee</h1>
        {%csrf_token%}
        <label> Chairman</label>
        <select class="form-control" name="chairman">
          <option value="{{sem.chairman.email}}" selected disabled>
            {{sem.chairman.name}}
          </option>
        </select>
        <label> Tabular1</label>
        <select class="form-control" name="tabular1">
          <option value="{{sem.tabular1.email}}" selected>
            {{sem.tabular1.name}}
          </option>
          {%for o in ob%}
          <option value="{{o.email}}">{{o.name}}</option>
          {%endfor%}
        </select>
        <label> Tabular2</label>
        <select class="form-control" name="tabular2">
          <option value="{{sem.tabular2.email}}" selected>
            {{sem.tabular2.name}}
          </option>
          {%for o in ob%}
          <option value="{{o.email}}">{{o.name}}</option>
          {%endfor%}
        </select>
        <label for=""> External</label>
        <select class="form-control" name="external" id="">
          <option value="{{sem.external.email}}" selected>
            {{sem.external.name}}
          </option>
          {%for o in oc%}
          <option value="{{o.email}}">{{o.name}}</option>
          {%endfor%}
        </select>
        {%if flag%}
        <button class="btn btn-primary" type="submit" name="update">Update</button>
        {%endif%}
      </form>
    </div>
    <div class="con">
      <form method="POST">
        {%csrf_token%}
        <h2>Moderator</h2>
        <div class="el">
          {%for o in moderator%}
          <input class="form-control"
            type="text"
            value="{{o.teacher.name}}"
            name="moderator"
            readonly
          />
          {%if flag%}
          <button class="btn btn-primary" type="submit" name="moderator" value="{{o.teacher.email}}">
            Delete
          </button>
          {%endif%} {%endfor%}
        </div>
        <h2>Translator</h2>
        <div class="el">
          {%for o in translator%}
          <input class="form-control"
            type="text"
            value="{{o.teacher.name}}"
            name="translator"
            readonly
          />
          {%if flag%}
          <button class="btn btn-primary" type="submit" name="translator" value="{{o.teacher.email}}">
            Delete
          </button>
          {%endif%} {%endfor%}
        </div>
        <h2>Typist</h2>
        <div class="el">
          {%for o in typist%}
          <input class="form-control"
            type="text"
            value="{{o.teacher.name}}"
            name="typist"
            readonly
          />
          {%if flag%}
          <button class="btn btn-primary" type="submit" name="typist" value="{{o.teacher.email}}">
            Delete
          </button>
          {%endif%} {%endfor%}
        </div>

        {%if flag%}
        <button class="btn btn-primary" type="submit" name="add">Add Role</button>
        {%endif%}
      </form>
    </div>
{% endblock content %}
