{% extends 'base.html' %}
{% block content %}
<div class="con">
      <form method="POST">
        {%csrf_token%}
        <label for="">Select Invigilator</label>
        <select class="form-control" name="invigilator">
          <option selected disabled></option>
          {%for o in ob%}{
          <option value="{{o.email}}">{{o.name}}</option>
          {%endfor%}
        </select>
        <button class="btn btn-primary" type="submit" name="add">ADD</button>
      </form>
    </div>
{% endblock content %}
