{% extends 'base.html' %}
{% block title %}Add Invigilator{% endblock title %}
{% block content %}
<div class="container" style="margin-top: 40px; max-width: 500px;">
  <a href="javascript:history.back()" class="btn btn-secondary" style="margin-bottom: 20px;">
    <span class="bi bi-arrow-left"></span> Back
  </a>
  <div class="card border-primary">
    <div class="card-header"><h3 class="card-title">Add Invigilator</h3></div>
    <div class="card-body">
      <form method="POST">
        {% csrf_token %}
        <div class="form-group">
          <label>Select Invigilator</label>
          <select class="form-control" name="invigilator">
            <option selected disabled value="">-- Select Invigilator --</option>
            {% for o in ob %}
            <option value="{{ o.email }}">{{ o.name }}</option>
            {% endfor %}
          </select>
        </div>
        <button class="btn btn-primary btn-block" type="submit" name="add">
          <span class="bi bi-plus-lg"></span> Add
        </button>
      </form>
    </div>
  </div>
</div>
{% endblock content %}
