{% extends 'base.html' %}
{% block title %}Edit Course Code {{ code.code }}{% endblock title %}
{% block content %}
<div class="container" style="margin-top: 40px; max-width: 500px;">
  <a href="{% url 'manage_course_codes' %}" class="btn btn-secondary" style="margin-bottom: 20px;">
    <span class="bi bi-arrow-left"></span> Back
  </a>
  <div class="card border-primary">
    <div class="card-header"><h3 class="card-title">Edit Course Code {{ code.code }}</h3></div>
    <div class="card-body">
      <form method="POST">
        {% csrf_token %}
        <div class="form-group">
          <label>Course Code</label>
          <input class="form-control" type="number" value="{{ code.code }}" disabled />
        </div>
        <div class="form-group">
          <label>Course Name</label>
          <input class="form-control" type="text" name="name" value="{{ code.name }}" required />
        </div>
        <button class="btn btn-primary btn-block" type="submit">
          <span class="bi bi-floppy"></span> Save
        </button>
      </form>
    </div>
  </div>
</div>
{% endblock content %}
