{% extends 'base.html' %}
{% block title %}Update Course{% endblock title %}
{% block content %}
<div class="container" style="margin-top: 40px; max-width: 600px;">
  <a href="javascript:history.back()" class="btn btn-default" style="margin-bottom: 20px;">
    <span class="glyphicon glyphicon-arrow-left"></span> Back
  </a>

  {% if theory %}
  <div class="panel panel-primary">
    <div class="panel-heading"><h3 class="panel-title">Update Theory Course</h3></div>
    <div class="panel-body">
      <form method="POST">
        {% csrf_token %}
        <div class="form-group">
          <label>Internal Examiner</label>
          <select class="form-control" name="internal">
            <option value="{{ course.internal.email }}" selected>{{ course.internal.name }}</option>
            {% for o in ob %}<option value="{{ o.email }}">{{ o.name }}</option>{% endfor %}
          </select>
        </div>
        <div class="form-group">
          <label>External Examiner</label>
          <select class="form-control" name="external">
            <option value="{{ course.external.email }}" selected>{{ course.external.name }}</option>
            {% for o in ob %}<option value="{{ o.email }}">{{ o.name }}</option>{% endfor %}
          </select>
        </div>
        <div class="form-group">
          <label>Third Examiner</label>
          <select class="form-control" name="third">
            <option value="{{ course.thirdExaminer.email }}" selected>{{ course.thirdExaminer.name }}</option>
            {% for o in ob %}<option value="{{ o.email }}">{{ o.name }}</option>{% endfor %}
          </select>
        </div>
        <div class="form-group">
          <label>Paper No</label>
          <input class="form-control" type="number" name="paperNo" value="{{ course.paperNo }}" />
        </div>
        <div class="form-group">
          <label>Third Examiner Paper No</label>
          <input class="form-control" type="number" name="tpaperNo" value="{{ course.tPaperNo }}" />
        </div>
        <button class="btn btn-primary btn-block" name="theory" type="submit">
          <span class="glyphicon glyphicon-save"></span> Update
        </button>
      </form>
    </div>
  </div>
  {% endif %}

  {% if lab %}
  <div class="panel panel-success">
    <div class="panel-heading"><h3 class="panel-title">Update Lab Course</h3></div>
    <div class="panel-body">
      <form method="POST">
        {% csrf_token %}
        <div class="form-group">
          <label>Lab Internal</label>
          <select class="form-control" name="internal">
            <option value="{{ course.internal.email }}" selected>{{ course.internal.name }}</option>
            {% for o in ob %}<option value="{{ o.email }}">{{ o.name }}</option>{% endfor %}
          </select>
        </div>
        <div class="form-group">
          <label>Lab External</label>
          <select class="form-control" name="external">
            <option value="{{ course.external.email }}" selected>{{ course.external.name }}</option>
            {% for o in ob %}<option value="{{ o.email }}">{{ o.name }}</option>{% endfor %}
          </select>
        </div>
        {% if extra %}
        <div class="form-group">
          <label>Lab Invigilators</label>
          {% for o in extra %}
          <span class="label label-info" style="font-size: 14px; margin-right: 5px;">{{ o.extra.name }}</span>
          {% endfor %}
        </div>
        {% endif %}
        <button class="btn btn-default btn-block" type="submit" name="invigilator" style="margin-bottom: 10px;">
          <span class="glyphicon glyphicon-plus"></span> Add Invigilator
        </button>
        <div class="form-group">
          <label>Duration (hours)</label>
          <input class="form-control" type="number" value="{{ course.duration }}" name="duration" />
        </div>
        <button class="btn btn-success btn-block" type="submit" name="lab">
          <span class="glyphicon glyphicon-save"></span> Update
        </button>
      </form>
    </div>
  </div>
  {% endif %}

  {% if viva %}
  <div class="panel panel-warning">
    <div class="panel-heading"><h3 class="panel-title">Update Viva Course</h3></div>
    <div class="panel-body">
      <form method="POST">
        {% csrf_token %}
        <div class="form-group">
          <label>External Examiner</label>
          <select class="form-control" name="external">
            <option value="{{ course.vivaExternal.email }}" selected>{{ course.vivaExternal.name }}</option>
            {% for o in ex %}<option value="{{ o.email }}">{{ o.name }}</option>{% endfor %}
          </select>
        </div>
        {% if extra %}
        <div class="form-group">
          <label>Internals</label>
          {% for o in extra %}
          <span class="label label-info" style="font-size: 14px; margin-right: 5px;">{{ o.extra.name }}</span>
          {% endfor %}
        </div>
        {% endif %}
        <button class="btn btn-default btn-block" type="submit" name="invigilator" style="margin-bottom: 10px;">
          <span class="glyphicon glyphicon-plus"></span> Add Internals
        </button>
        <div class="form-group">
          <label>Duration (hours)</label>
          <input class="form-control" type="number" value="{{ course.duration }}" name="duration" />
        </div>
        <button class="btn btn-warning btn-block" type="submit" name="viva">
          <span class="glyphicon glyphicon-save"></span> Update
        </button>
      </form>
    </div>
  </div>
  {% endif %}

  <div class="row" style="margin-top: 10px;">
    <div class="col-xs-6">
      <a href="{% url 'thesis' session semester id3 %}" class="btn btn-info btn-block">Thesis Evaluation</a>
    </div>
    <div class="col-xs-6">
      <a href="{% url 'supervising' session semester id3 %}" class="btn btn-info btn-block">Thesis Supervising</a>
    </div>
  </div>
</div>
{% endblock content %}
