{% extends 'base.html' %}
{% block title %}Update Course{% endblock title %}
{% block content %}
<div class="container" style="margin-top: 40px; max-width: 600px;">
  <a href="javascript:history.back()" class="btn btn-default" style="margin-bottom: 20px;">
    <span class="glyphicon glyphicon-arrow-left"></span> Back
  </a>

  {% if theory %}
  <div class="panel panel-primary">
    <div class="panel-heading"><h3 class="panel-title">Update Theory Course</h3></div>
    <div class="panel-body">
      <form method="POST" id="theoryForm">
        {% csrf_token %}
        <div class="form-group">
          <label>Internal Examiner</label>
          <select class="form-control theory-field" name="internal" data-original="{{ course.internal.email }}">
            <option value="{{ course.internal.email }}" selected>{{ course.internal.name }}</option>
            {% for o in ob %}<option value="{{ o.email }}">{{ o.name }}</option>{% endfor %}
          </select>
        </div>
        <div class="form-group">
          <label>External Examiner</label>
          <select class="form-control theory-field" name="external" data-original="{{ course.external.email }}">
            <option value="{{ course.external.email }}" selected>{{ course.external.name }}</option>
            {% for o in ob %}<option value="{{ o.email }}">{{ o.name }}</option>{% endfor %}
          </select>
        </div>
        <div class="form-group">
          <label>Third Examiner</label>
          <select class="form-control theory-field" name="third" data-original="{{ course.thirdExaminer.email }}">
            <option value="{{ course.thirdExaminer.email }}" selected>{{ course.thirdExaminer.name }}</option>
            {% for o in ob %}<option value="{{ o.email }}">{{ o.name }}</option>{% endfor %}
          </select>
        </div>
        <div class="form-group">
          <label>Paper No</label>
          <input class="form-control theory-field" type="number" name="paperNo" value="{{ course.paperNo }}" data-original="{{ course.paperNo }}" />
        </div>
        <div class="form-group">
          <label>Third Examiner Paper No</label>
          <input class="form-control theory-field" type="number" name="tpaperNo" value="{{ course.tPaperNo }}" data-original="{{ course.tPaperNo }}" />
        </div>
        <button class="btn btn-primary btn-block" name="theory" type="submit" id="theoryBtn" disabled>
          <span class="glyphicon glyphicon-save"></span> Update
        </button>
      </form>
    </div>
  </div>
  {% endif %}

  {% if lab %}
  <div class="panel panel-success">
    <div class="panel-heading"><h3 class="panel-title">Update Lab Course</h3></div>
    <div class="panel-body">
      <form method="POST" id="labForm">
        {% csrf_token %}
        <div class="form-group">
          <label>Lab Internal</label>
          <select class="form-control lab-field" name="internal" data-original="{{ course.internal.email }}">
            <option value="{{ course.internal.email }}" selected>{{ course.internal.name }}</option>
            {% for o in ob %}<option value="{{ o.email }}">{{ o.name }}</option>{% endfor %}
          </select>
        </div>
        <div class="form-group">
          <label>Lab External</label>
          <select class="form-control lab-field" name="external" data-original="{{ course.external.email }}">
            <option value="{{ course.external.email }}" selected>{{ course.external.name }}</option>
            {% for o in ob %}<option value="{{ o.email }}">{{ o.name }}</option>{% endfor %}
          </select>
        </div>
        {% if extra %}
        <div class="form-group">
          <label>Lab Invigilators</label>
          {% for o in extra %}
          <span class="label label-info" style="font-size: 14px; margin-right: 5px;">{{ o.extra.name }}</span>
          {% endfor %}
        </div>
        {% endif %}
        <button class="btn btn-default btn-block" type="submit" name="invigilator" style="margin-bottom: 10px;">
          <span class="glyphicon glyphicon-plus"></span> Add Invigilator
        </button>
        <div class="form-group">
          <label>Duration (hours)</label>
          <input class="form-control lab-field" type="number" value="{{ course.duration }}" name="duration" data-original="{{ course.duration }}" />
        </div>
        <button class="btn btn-success btn-block" type="submit" name="lab" id="labBtn" disabled>
          <span class="glyphicon glyphicon-save"></span> Update
        </button>
      </form>
    </div>
  </div>
  {% endif %}

  {% if viva %}
  <div class="panel panel-warning">
    <div class="panel-heading"><h3 class="panel-title">Update Viva Course</h3></div>
    <div class="panel-body">
      <form method="POST" id="vivaForm">
        {% csrf_token %}
        <div class="form-group">
          <label>External Examiner</label>
          <select class="form-control viva-field" name="external" data-original="{{ course.vivaExternal.email }}">
            <option value="{{ course.vivaExternal.email }}" selected>{{ course.vivaExternal.name }}</option>
            {% for o in ex %}<option value="{{ o.email }}">{{ o.name }}</option>{% endfor %}
          </select>
        </div>
        {% if extra %}
        <div class="form-group">
          <label>Internals</label>
          {% for o in extra %}
          <span class="label label-info" style="font-size: 14px; margin-right: 5px;">{{ o.extra.name }}</span>
          {% endfor %}
        </div>
        {% endif %}
        <button class="btn btn-default btn-block" type="submit" name="invigilator" style="margin-bottom: 10px;">
          <span class="glyphicon glyphicon-plus"></span> Add Internals
        </button>
        <div class="form-group">
          <label>Duration (hours)</label>
          <input class="form-control viva-field" type="number" value="{{ course.duration }}" name="duration" data-original="{{ course.duration }}" />
        </div>
        <button class="btn btn-warning btn-block" type="submit" name="viva" id="vivaBtn" disabled>
          <span class="glyphicon glyphicon-save"></span> Update
        </button>
      </form>
    </div>
  </div>
  {% endif %}

  <div class="row" style="margin-top: 10px;">
    <div class="col-xs-6">
      <a href="{% url 'thesis' session semester id3 %}" class="btn btn-info btn-block">Thesis Evaluation</a>
    </div>
    <div class="col-xs-6">
      <a href="{% url 'supervising' session semester id3 %}" class="btn btn-info btn-block">Thesis Supervising</a>
    </div>
  </div>
</div>
{% endblock content %}

{% block extra_js %}
<script>
// Enable Update button only when form values differ from originals
$(function() {
  function watchForm(fieldClass, btnId) {
    var btn = $(btnId);
    $(document).on('change input', '.' + fieldClass, function() {
      var changed = false;
      $('.' + fieldClass).each(function() {
        if ($(this).val() !== String($(this).data('original'))) {
          changed = true;
        }
      });
      btn.prop('disabled', !changed);
    });
  }

  watchForm('theory-field', '#theoryBtn');
  watchForm('lab-field', '#labBtn');
  watchForm('viva-field', '#vivaBtn');
});
</script>
{% endblock extra_js %}
